



.pers_stat_box {
  grid-column: 3/9;
  grid-row: 1/5;
  border: 1px solid black;
}

.picture_box{
  grid-column: 1/3;
  grid-row: 3/5;
  border: 1px solid black;

}
.picture_box > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
  order: 1px solid black;
}
